{
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "next",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@(saasfy)/(.*)$",
    "",
    "^[./]"
  ]
}
